* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #212121;
  outline: 1px solid slategrey;
}

.product-item {
  display: inline-flex;
  min-height: 100%;
}

.admin-dashboard, .product-header {
  font-family: 'Noto Serif Oriya', serif;
}

.quantity-form {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

.prod-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  /*height: 400px;*/
  box-shadow: 0px 0px 10px #bbbbbb;
  transition: 0.3s;
  animation: ease-in-out;
}

.prod-card:hover{
  transform:  scale(1.1);
  box-shadow: 0px 0px 15px #bbbbbb;
}


/*body {
background-color: #212121 !important;
}*/

.appNavDropdown {
  background-color: #212121 !important;
  border-color: #212121 !important;
}

.addtocart-button {
  background-color: #212121 !important;
  border-color: #212121 !important;
}

.addproduct-button {
  background-color: #212121 !important;
  border-color: #212121 !important;
}

.contact-us-img {
  float: left;
  margin-left: 30px;
  margin-right: 15px;
}

.contact-us-p {
  color: white;
  text-align: center;
  margin-left: 10px;
}

.pre-footer-header {
  font-family: 'Noto Serif Oriya', serif;
  font-size: 17px;
  text-align: center;
  color: white;
  padding: 10px;
}

.pre-footer-content2 {
  padding-top: 8px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 5px;
  margin-left: 15px;
  text-align: center;
  color: white;
  font-size: 15px;
}

.pre-footer-icon {
  float: left;
  margin-left: 80px;
  margin-right: 10px;
}

.pre-footer-p1 {
  color: #d4af37;
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.pre-footer-p11 {
  color: #d4af37;
  font-size: 15px !important;
  margin-bottom: 0px;
  margin-top: 0px;
}

.pre-footer-p2 {
  color: white;
  margin: 0;
  margin-left: 65px !important;
  margin-bottom: 5px !important;
  padding: 0;
}

.pre-footer-p4 {
  color: white;
  font-size: 15px !important;
  text-align: center;
}

.pre-footer {
  background-color: #292929 !important;
  padding: 2px;
  overflow: hidden;
}

.footer {
  background-color: #242424 !important;
  padding: 2px;
  overflow: hidden;
}

.newsletter-form, {
  margin: 0;
  padding: 0;
}

.newsletter-button {
  background-color: #414141 !important;
  border-color: #414141 !important;
}


.footer-paragraph1 {
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
  color: white;
  font-size: 13px;
}

.footer-paragraph2 {
  margin-bottom: 0px;
  text-align: center;
  font-size: 14px;
  color: white;
}

.footer-links {
  text-align: center;
  padding-top: 0px !important;
  padding-bottom: 15px !important;
}

.footer-links1 {
  text-align: center;
  margin-right: 20px;
  margin-bottom: 15px;
  margin-top: 0px !important;
  font-size: 13px;
  color: white;
}

.carousel-banner {
  margin: 0px;
}

.cardHighlights {
  min-height: 100%;
}

.productCards1 {
  min-height: 100%;
  background-image: url("./images/cardbg.jpg");
}

.productCards2 {
  min-height: 100%;
  background-image: url("./images/cardwhitebg.jpg");
}

.buttonA {
  background-color: #414141 !important;
  border-color: #414141 !important;
}


.carousel-item1, .carousel-item2, .carousel {
  min-height: 100%;
}

.carousel-headers1a {
  text-align: center;
  font-family: 'Noto Serif Oriya', serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: white;
}

.carousel-headers2a {
  text-align: center;
  font-family: 'Noto Serif Oriya', serif;
  font-size: 20px;
  margin-top: 0;
  padding-top: 0;
  color: white;
}

.carousel-headers1b {
  text-align: center;
  font-family: 'Noto Serif Oriya', serif;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.carousel-headers2b {
  text-align: center;
  font-family: 'Noto Serif Oriya', serif;
  font-size: 20px;
  margin-top: 0;
  padding-top: 0;
}

.login-title {
  font-family: 'Noto Serif Oriya', serif;
  text-align: center;
}

.login-item {
  font-family: 'Noto Serif Oriya', serif;
}

.login-button {
  background-color: #414141 !important;
  border-color: #414141 !important;
}

.register-title {
  font-family: 'Noto Serif Oriya', serif;
  text-align: center;
}

.register-item {
  font-family: 'Noto Serif Oriya', serif;
}

.register-button {
  background-color: #414141 !important;
  border-color: #414141 !important;
}


.orLine {
  overflow: hidden;
  text-align: center;
}

.login-using-username {
  font-family: 'Noto Serif Oriya', serif;
  text-align: center;
}

.orLine:before,
.orLine:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 0.5px;
  position: relative;
  vertical-align: middle;
  width: 25%;
}

.orLine:before {
  right: 0.5em;
  margin-left: -25%;
}

.orLine:after {
  left: 0.5em;
  margin-right: -25%;
}

.navbar {
  height: 50px;
  background-color: #212121 !important;
}

.navbar-brand-logo {
  font-family: 'Great Vibes', cursive;
  letter-spacing: 3.5px;
  font-weight: bold;
}

.navbar-brand-ph {
  font-family: 'PT Serif', serif;
}

.navbar-names {
  font-family: 'Noto Serif Oriya', serif;
}

.carousel-banner {
  width: 100%;
}

.icon {
  float: left;
  margin-right: 10px;
}

.icon-header {
  padding-top: 8px;
  font-size: 16px;
  margin-bottom: 0;
}

.highlights-title {
  font-family: 'Noto Serif Oriya', serif;
  margin-top: 30px;
  letter-spacing: 4px;
}

.highlights-description {
  font-family: 'Noto Serif Oriya', serif;
  font-size: 25px;
  margin-bottom: 0px;
}

.highlights-button {
  font-family: 'Noto Serif Oriya', serif;
  background-color: #242424;
}

.our-products {
  font-family: 'Noto Serif Oriya', serif;
  padding-top: 2rem;
  overflow: hidden;
  margin-bottom: 0;
}

.our-products:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 77%;
}

.our-products:after {
  left: 0.2em;
  margin-right: -25%;
}